<div class="section_footer">
        <div class="page-padding">
          <div class="container-large w-container">
            <div class="padding-vertical padding-xlarge padding-responsive">
              <a href="{{ links.11aa52 }}" class="footer_logo-wrapper margin-bottom margin-medium w-inline-block"><img src="{{ images.-4745567a.url }}" loading="lazy" alt="{{ images.-4745567a.alt | trim | escape }}" class="footer_logo-image"></a>
              <div class="footer_up margin-bottom margin-xlarge">
                <div class="footer_content-left">
                  <div class="footer_left">
                    <p id="w-node-b3aa1e8f-307f-a679-f505-ea8537a16f55-37a16f4c">{{ texts.6fe3809e }}</p>
                    <a id="w-node-b3aa1e8f-307f-a679-f505-ea8537a16f57-37a16f4c" href="{{ links.337df160 }}">{{ texts.-3fbde6f6 }}</a>
                    <a id="w-node-b3aa1e8f-307f-a679-f505-ea8537a16f59-37a16f4c" href="{{ links.-a7dab5d }}">{{ texts.-7fe2d65b }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>