<div data-animation="default" class="nav_component w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" data-w-id="2d589c16-de78-591c-bd10-76ff49791c52" role="banner" data-duration="400">
        <div class="page-padding">
          <div class="container-large">
            <div class="nav_main-wrapper">
              <a href="{{ links.2f }}" aria-current="page" class="nav_brand-logo margin-right margin-xlarge w-nav-brand w--current"><img src="{{ images.-4745567a.url }}" loading="lazy" alt="{{ images.-4745567a.alt | trim | escape }}" class="nav_image"></a>
              <nav role="navigation" class="nav_menu w-nav-menu">
                <div class="nav_left-wrapper">
                  <a href="{{ links.-7cac2f70 }}" class="nav_link_item w-nav-link">{{ texts.3c2336d }}</a>
                  <a href="{{ links.710c0232 }}" class="nav_link_item w-nav-link">{{ texts.560f747e }}</a>
                  <a href="{{ links.2ce17c0 }}" class="nav_link_item w-nav-link">{{ texts.293b31 }}</a>
                  <a href="{{ links.634882d6 }}" class="nav_link_item w-nav-link">{{ texts.13ede05 }}</a>
                </div>
                <div class="nav_right-wrapper">
                  <a href="{{ links.4b0e6111 }}" class="button w-button">{{ texts.-13ef5b1b }}</a>
                </div>
              </nav>
              <div class="menu-button w-nav-button">
                <div class="w-icon-nav-menu"></div>
              </div>
            </div>
          </div>
        </div>
      </div>